form #newacc {
	float: left;
	color: red;
	display: inline-block;
}

body {
	background-color: lightblue;
}

button {
	background-color: #b3b3b3;
	font-family: 'Montserrat', sans-serif;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}

#tArea {
	width: 100%;
	height: 100px;
	float: left;
	box-shadow: 14px 12px 0px 0px rgba(0,0,0,0.28);
	resize: vertical;
	max-height: 194px;
}

#posts {
	float: bottom;
	margin-top: 40px;
}

#mainContent {
	width: 70%;
	margin: auto;
	/*vertical-align: center;*/

}

#posts p {
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

#buttonDiv {
	padding-bottom: 20px;
}

input {
	box-shadow: 5px 5px 0px 0px rgba(0,0,0,0.28);
	outline: none;
	margin-bottom: 6px;
}

#buttons {
	margin-top: 3px;
}
#newPost {
	float: left;
	padding-right: 5px;
}

#submitPost {
	/*margin-top: 0.3em;*/
	/*float: bottom;*/
	/*margin-top: 10px;*/
}

.postBody {
	float: bottom;
} 

.innerPostBody {
	background-color: #b3b3b3;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}

#postDiv {
	/*height: 130px;*/
	width: 90%;
}

#postControls {
	/*float: bottom;*/
	/*height: 30px;*/
}

#contentPanel {
	width: 90%;
	background-color: white;
	margin: auto auto;
	border-radius: 20px 163px 20px 157px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	-webkit-box-shadow: 14px 18px 0px 0px rgba(0,0,0,0.28);
	-moz-box-shadow: 14px 18px 0px 0px rgba(0,0,0,0.28);
	box-shadow: 14px 18px 0px 0px rgba(0,0,0,0.28);

	position: relative;
  	top: 30%;
  	transform: translateY(-50%);
}

#logout {
	float: right;
}

#newWelcomeMsg {
	position: absolute;
}

h1 {
	margin-bottom: 1px;
	width: 70%;
	font-family: 'Roboto Slab', serif;
}
h6 {
	margin-top: 0px;
	font-family: 'Roboto Slab', serif;
}
form {
	margin-top: 20px;
}